@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito+Sans&family=Russo+One&display=swap');

* { box-sizing: border-box; }
body { padding: 0; margin: 0; min-width: 1400px; font-family: 'Noto Sans KR', sans-serif; }
ul { padding: 0; margin: 0; list-style: none; }
a { color: #333; text-decoration: none; }
.mgroup { display: none; }

.fullpage_scroll{
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}
/* SECTION */
.fullpage_scroll .fullpage{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
}
.fullpage.pointer {
    pointer-events: none;
}

/* 컨텐츠영역 COMMON CSS */
section .tit {
    font-size: 5em;
}
section h2 {
    font-size: 1.15em;
    letter-spacing: -0.05em;
    font-weight: normal;
    margin: 0;
}
section h4 {
    font-size: 0.95em;
    letter-spacing: -0.05em;
    font-weight: normal;
    line-height: 160%;
    margin: 30px 0 50px;
}
section .bt {
    border: 1px solid #333;
    color: #333;
    outline: none;
    background: none;
    width: 120px;
    padding: 9px 0;
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin: 50px auto 0;
    position: relative;
    overflow: hidden;
    transition: .2s ease all;
    z-index: 2;
}
section .bt:before{
    position:absolute;
    bottom:-100%; left:0;
    width:100%;
    height:100%;
    content:'';
    background: #f39c1f;
    transition:.5s ease all;
    z-index:-1;
}
section .bt:hover {
    color:#fff;
}
section .bt:hover:before{
    bottom:0; left:0;
}

/* 헤더 */
header {
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
header .logo {
    background: url(../images/logo_top.png) 50% 50% no-repeat;
    width: 85px;
    height: 60px;
    display: block;
    transition: all 0.5s ease-in;
}
header .mbt {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0; right: 0;
    z-index: 200;
}
header.sec1 .logo,
header.sec1 .mbt {
    -webkit-animation: fadeInDown 1s ease;
    animation: fadeInDown 1s ease;
}
header.sec1 .mbt .bar1,
header.sec1 .mbt .bar2,
header.sec1 .mbt .bar3,
header.sec6 .mbt .bar1,
header.sec6 .mbt .bar2,
header.sec6 .mbt .bar3 {
    background: #fff;
}
header .mbt:hover {
    cursor: pointer;
}
.mbt .bar1,
.mbt .bar2,
.mbt .bar3{
    background: #222;
    width: 33px;
    height: 3px;
    position: absolute;
    left: 14px; top: 18px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    transition: all 0.5s ease;
}
.mbt .bar2{ top: 28px; }
.mbt .bar3{
    top: 38px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.mbt.active .bar1{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 28px;
    background: #fff;
}
.mbt.active .bar2{ opacity: 0; }
.mbt.active .bar3{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 28px;
    background: #fff;
}

/* 네비게이션 */
header nav {
    width: 45%;
    height: 100vh;
    position: fixed;
    z-index: 200;
    top: 0; right: 0;
    background: #013b90;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: all .5s ease;
}
header nav.active {
    transform: translateX(0%);
}
section.active::after,
footer.active::after {
    content: "";
    position: absolute;
    z-index: 150;
    top:0; right:0; bottom:0; left:0;
    background: rgba(0,0,0,0.5);
}
nav a {
    color: #fff;
}
nav .gnb {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .gnb .gnbMenu .title {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    transition: .5s ease all;
    z-index: 2;
}
.gnbMenu .title.on {
    background: #003380;
}
/* 서브메뉴 */
.gnbMenu .snb {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gnbMenu .snb li {
    width: 25%;
    height: 70px;
    line-height: 70px;
    background: #fafafa;
    position: relative;
    padding: 0;
}
.gnbMenu:first-of-type .snb li {
    width: 16.66%;
}
.gnbMenu .snb li::after {
    width: 1px;
    height: 50px;
    background: rgba(204, 204, 204, 0.4);
    content: "";
    position: absolute;
    top:10px; right:0;
}
.gnbMenu .snb li:last-of-type::after {
    display: none;
}
.gnbMenu .snb li > a {
    display: block;
    color: #222;
    font-size: 0.9em;
    text-align: center;
}
.gnbMenu .snb li > a:hover {
    font-weight: 600;
}
/* 언어,소셜네트워크 */ 
nav .bts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 120px 0;
}
nav .bts .global,
nav .bts .sns {
    display: flex;
    flex-direction: row;
}
nav .bts .global span {
    color:rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
    padding: 5px 10px;
    position: relative;
}
nav .bts .global span::before {
    width: 1px;
    height: 10px;
    background: #ccc;
    content: "";
    position: absolute;
    top:9px; left:0;
}
nav .bts .global span:first-of-type::before {
    display: none;
}
nav .bts .global span:hover {
    cursor: pointer;
    color:rgba(255, 255, 255, 1);
    font-weight: 600;
}
nav .bts .sns > a {
    width: 30px;
    height: 30px;
    margin: 15px 8px 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    display: block;
}
nav .bts .sns > a:first-of-type {
    background-image: url(../images/footer_ico_facebook.png);
}
nav .bts .sns > a:nth-of-type(2) {
    background-image: url(../images/footer_ico_instagram.png);
}
nav .bts .sns > a:nth-of-type(3) {
    background-image: url(../images/footer_ico_linkedin.png);
}
nav .bts .sns > a:last-of-type {
    background-image: url(../images/footer_ico_naver.png);
}

/* 마우스애니메이션 */
.mouse {
    position: absolute;
    z-index: 10;
    left: 50%; bottom: 10px;
    transform: translateX(-50%);
	display: block;
	width: 30px;
	height: 45px;
    border: 3px solid #fff;
	border-radius: 23px;
}
.mouse span {
    position: absolute;
    top: 29%; left: 50%;
	display: block;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
    background: #fff;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

/* ABinBev 링크 */
.link {
    position: fixed;
    right: 30px; bottom: 20px;
    width: 68px;
    height: 110px;
    background: url(../images/abinbevlogo.png) 50% 50% no-repeat;
    background-size: 100%;
    -webkit-animation: upanddown .8s infinite;
    animation: upanddown .8s infinite;
}
header.sec1 .link {
    -webkit-animation: fadeInUp 1s ease;
    animation: fadeInUp 1s ease;
}


/* 메인비쥬얼 */
.sec01 .cts_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background: #eee;
}
.slideshow-image {
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 100%;
}
.sec01.on .slideshow-image {
    -webkit-animation-name: kenburns;
            animation-name: kenburns;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.sec01.on .slideshow-image:first-of-type {
    background: url(../images/beer_6.jpg) 50% 50% no-repeat;
    background-size: cover;
    -webkit-animation-name: kenburns-1;
            animation-name: kenburns-1;
    z-index: 4;
}
.sec01.on .slideshow-image:nth-of-type(2) {
    background: url(../images/hop_1.jpg) 50% 50% no-repeat;
    background-size: cover;
    -webkit-animation-name: kenburns-2;
            animation-name: kenburns-2;
    z-index: 3;
}
.sec01.on .slideshow-image:nth-of-type(3) {
    background: url(../images/beer_12.jpg) 53% 75% no-repeat;
    background-size: cover;
    -webkit-animation-name: kenburns-3;
            animation-name: kenburns-3;
    z-index: 2;
}
.sec01.on .slideshow-image:nth-of-type(4) {
    background: #eee;
    -webkit-animation-name: kenburns-4;
            animation-name: kenburns-4;
    z-index: 1;
}
/* 텍스트타이핑 */
.text-js{
    opacity: 0;
    position: relative;
    z-index: 10;
}
.headline {
    color: #013b90;
    font-family: 'Russo One', sans-serif;
    font-size: 85px;
    line-height: 150%;
    text-align: center;
}
.headline h1{
    background: rgba(238, 238, 238, 0.5);
    padding: 0 20px;
    letter-spacing: 1.6px;
    font-weight: 300;
}

/* COMPANY */
.sec02 {
    background: url(../images/beer_16.jpg) 0% 47% no-repeat;
    background-size: 150%;
    overflow: hidden;
}
.sec02.on::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 80%;
    background: rgba(255, 255, 255, 0.8);
    width: 400vw;
    height: 100vh;
    z-index: 0;
    -webkit-transform: skewX(-45deg) translateX(-100%) scaleX(0);
            transform: skewX(-45deg) translateX(-100%) scaleX(0);
    will-change: transform;
    -webkit-animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: revealBG 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.sec02 .cts_wrapper {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.9);
}
.sec02 .cts_wrapper .left {
    width: 30%;
    height: 40%;
    position: relative;
}
.sec02 .cts_wrapper .left::before {
    content: "";
    position: absolute;
    top: -65px; left: -40px;
    width: 480px;
    height: 480px;
    background: #302617;
    transform: skew(0deg, 10deg);
}
.sec02 .tit {
    margin: -25px 0 0 0;
}
.sec02 .bt {
    border-color: rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
}
.sec02 .bt:hover {
    color:#302617;
}
.sec02 .cts_wrapper .right {
    width: 70%;
    padding: 0 0 0 20px;
}
.sec02 .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec02 .group .box {
    width: 32%;
    height: 430px;
    box-shadow: 10px 10px 10px rgba(48, 45, 41, 0.3);
    position: relative;
    -webkit-perspective: 50em;
    perspective: 50em;
    display: block;
}
.sec02 .box:first-of-type {
    background: url(../images/beer_9.jpg) 55% 0% no-repeat;
    background-size: 160%;
}
.sec02 .box:nth-of-type(2) {
    background: url(../images/bottles_2.jpg) 35% 0% no-repeat;
    background-size: cover;
}
.sec02 .box:nth-of-type(3) {
    background: url(../images/world_2.jpg) 70% 50% no-repeat;
    background-size: cover;
}
.sec02 .box::after{
    background: #fff;
    position: absolute;
    content: "";
    display: block;
    top: 20px; left: 20px; right: 20px; bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}
.sec02 .box .flip {
    position: absolute;
    top: 50%; left: 20px; right: 20px;
    z-index: 1;
    font-size: 1.2em;
    font-weight: 600;
    color: #020202;
    text-align: center;
    opacity: 0;
}
.sec02 .box .flip::after {
    content: "01.";
    position: absolute;
    top:-50px; left:50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    color: #f39c1f;
}
.sec02 .box:nth-of-type(2) .flip::after {
    content: "02.";
}
.sec02 .box:nth-of-type(3) .flip::after {
    content: "03.";
}
.sec02 .box:hover::after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
}
.sec02 .box:hover .flip {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* BRANDS */
.sec03 {
    background: #fafafa;
    overflow: hidden;
}
.sec03 .cts_wrapper {
    width: 90%;
    margin: 13px auto 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sec03 .cts_wrapper .left {
    width: 30%;
    position: relative;
}
.sec03 .cts_wrapper .left::before {
    content: "";
    position: absolute;
    top:-140%; left:-60%;
    width: 170%;
    height: 1000px;
    background: rgba(243, 156, 31, 0.03);
    transform: skew(-45deg);
}
.sec03 .tit {
    color: #45120f;
    text-align: center;
    margin: -25px 0 0 0;
}
.sec03 h2 {
    font-size: 1.1em;
    color: #333;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}
.sec03 .cts_wrapper .right {
    width: 70%;
}
.sec03 .group {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec03 .group .box {
    width: 20%;
    height: 45%;
    margin: 0 0 30px 30px;
    position: relative;
    overflow: hidden;
    display: block;
    background-size: cover;
}
.sec03 .box:hover::before {
    content: "";
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    background: rgba(255,255,255,0.5);
}
.sec03 .box::after {
    content: "CASS FRESH";
    position: absolute;
    bottom:0; left:0;
    z-index:2;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #013b90;
    color: #fff;
    transform: translateY(100%);
    transition: all .3s ease-out;
}
.sec03 .box:nth-of-type(2)::after {
    content: "OB PREMIER";
    background: #f39c1f;
}
.sec03 .box:nth-of-type(3)::after {
    content: "BUDWIESER";
    background: #c00000;
}
.sec03 .box:nth-of-type(4)::after {
    content: "STELLA ARTOIS";
    background: #f39c1f;
}
.sec03 .box:nth-of-type(5)::after {
    content: "HARBIN";
    background: #f39c1f;
}
.sec03 .box:nth-of-type(6)::after {
    content: "CORONA EXTRA";
    background: #013b90;
}
.sec03 .box:nth-of-type(7)::after {
    content: "HOEGAARDEN";
    background: #f39c1f;
}
.sec03 .box:nth-of-type(8)::after {
    content: "SUNTORY";
    background: #013b90;
}
.sec03 .box:hover::after {
    transform: translateY(0);
}
.sec03 .box:first-of-type {
    background: url(../images/main_brand_list_001.jpg) 50% 50% no-repeat;
}
.sec03 .box:nth-of-type(2) {
    background: url(../images/main_brand_list_002.jpg) 50% 50% no-repeat;
}
.sec03 .box:nth-of-type(3) {
    background: url(../images/main_brand_list_003.jpg) 50% 50% no-repeat;
}
.sec03 .box:nth-of-type(4) {
    background: url(../images/main_brand_list_004.jpg) 50% 50% no-repeat;
}
.sec03 .box:nth-of-type(5) {
    background: url(../images/main_brand_list_006.jpg) 30% 50% no-repeat;
}
.sec03 .box:nth-of-type(6) {
    background: url(../images/main_brand_list_007.jpg) 45% 50% no-repeat;
}
.sec03 .box:nth-of-type(7) {
    background: url(../images/main_brand_list_008.jpg) 48% 50% no-repeat;
}
.sec03 .box:nth-of-type(8) {
    background: url(../images/main_brand_list_009.jpg) 65% 50% no-repeat;
}

/* NEWSROOM */
.sec04 {
    background: #fff;
}
.sec04.on::before {
    content: "";
    width: 100%;
    height: 0;
    background: rgba(229, 231, 233, 0.6);
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    -webkit-animation: backslide .8s linear forwards;
    animation: backslide .8s linear forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.sec04 a {
    color: #333;
}
.sec04 .cts_wrapper {
    width: 100%;
    position: relative;
    z-index: 10;
}
.sec04 .tit {
    color: #333;
    font-size: 3em;
    text-align: center;
    position: relative;
}
.sec04.on .tit::before,
.sec04.on .tit::after {
    content: "";
    width: 15%;
    height: 1px;
    background: rgba(51, 51, 51, 0.3);
    position: absolute;
    top: 50%;
    -webkit-animation: lineslide 1.5s ease;
    animation: lineslide 1.5s ease;
}
.sec04 .tit::before {
    left:20%;
}
.sec04 .tit::after {
    right:20%;
}
.sec04 h4 {
    text-align: center;
    margin: 0 0 55px;
    color: #333;
}
.sec04 .bt {
    margin: 15px auto 0;
}
.sec04 .bt:before{
    background: #c00000;
}
.sec04 .group {
    width: 960px;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec04 .group .box {
    width: 29%;
    height: 50%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
.sec04 .box .img {
    width: 100%;
    height: 70%;
}
.sec04 .box .img:hover {
    opacity: 0.5;
}
.sec04 .box:first-of-type .img {
    background: url(../images/news1.png) 50% 10% no-repeat;
    background-size: cover;
}
.sec04 .box:nth-of-type(2) .img {
    background: url(../images/news2.png) 50% 40% no-repeat;
    background-size: cover;
}
.sec04 .box:nth-of-type(3) .img {
    background: url(../images/news3.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .box:nth-of-type(4) .img {
    background: url(../images/news4.png) 20% 50% no-repeat;
    background-size: cover;
}
.sec04 .box:nth-of-type(5) .img {
    background: url(../images/news5.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec04 .box:nth-of-type(6) .img {
    background: url(../images/news6.png) 65% 50% no-repeat;
    background-size: cover;
}
.sec04 .box .txt {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 5px 5px;
    font-size: 0.9em;
}
.sec04 .box .txt:hover {
    text-decoration: underline;
}
.sec04 .box .date {
    font-size: 0.7em;
    color: #ccc;
    margin: 0 0 0 5px;
}

/* BETTER WORLD */
.sec05 {
    background: url(../images/hop_2.jpg) 50% 50% no-repeat;
    background-size: cover;
    overflow: hidden;
}
.sec05.on::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; right: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 400vw;
    height: 100vh;
    z-index: -1;
    -webkit-transform: skewX(60deg) translateX(100%) scaleX(0);
            transform: skewX(60deg) translateX(100%) scaleX(0);
    will-change: transform;
    -webkit-animation: revealBGR 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: revealBGR 1400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.sec05 .cts_wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.sec05 .cts_wrapper .left,
.sec05 .cts_wrapper .right {
    width: 50%;
    height: 500px;
}
.sec05 .cts_wrapper .left {
    background: url(../images/main_world_img.jpg) 50% 50% no-repeat;
}
.sec05 .cts_wrapper .right {
    padding: 50px 0 0 50px;
    position: relative;
}
.sec05 .right::before {
    width: 680px;
    height: 600px;
    content: "";
    position: absolute;
    z-index: -1;
    top: -65px; left: -70px;
    background-color: #45120f;
    transform: skew(0deg, -10deg);
}
.sec05 .tit {
    color: #f39c1f;
    font-size: 4em;
}
.sec05 h2 {
    color: #f39c1f;
}
.sec05 h4 {
    color: rgba(255, 255, 255, 0.9);
}
.sec05 .icons {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec05 .icons > div {
    width: 119px;
    height: 113px;
    line-height: 113px;
    font-size: 0.9em;
    position: relative;
    overflow: hidden;
    -webkit-perspective: 50em;
    perspective: 50em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.sec05 .icons > div:first-of-type {
    background-image: url(../images/cont_betterworld_list_01.gif);
}
.sec05 .icons > div:nth-of-type(2) {
    background-image: url(../images/cont_betterworld_list_02.gif);
}
.sec05 .icons > div:nth-of-type(3) {
    background-image: url(../images/cont_betterworld_list_03.gif);
}
.sec05 .icons > div::after {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    content: "HEALTHIER";
    background-color: #c00000;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}
.sec05 .icons > div:nth-of-type(2)::after {
    background-color: #da5926;
    content: "CLEANER";
}
.sec05 .icons > div:nth-of-type(3)::after {
    background-color: #f39c1f;
    content: "GROWING";
}
.sec05 .icons > div:hover::after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.95;
    cursor: pointer;
}

/* 푸터 */
footer {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    background: #ededed;
    color: #333;
}
footer .cts_wrapper {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .logo {
    display: block;
    width: 240px;
    height: 50px;
    background: url(../images/ob_logo.png) 50% 50% no-repeat;
}
footer select {
    width: 240px;
    height: 25px;
    line-height: 25px;
    padding: 0 0 0 5px;
    margin: 10px 0 0 0;
    outline: none;
    border: 1px solid rgba(102, 102, 102, 0.3);
    font-size: 0.7em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/baseline_arrow_drop_up_black_18dp.png) 100% 50% no-repeat;
}
footer .txt {
    font-size: 0.8em;
    margin: 15px 0;
}
footer .txt > span {
    padding: 0 10px;
    position: relative;
}
footer .txt > span:hover {
    cursor: pointer;
}
footer .txt > span::after {
    width: 1px;
    height: 8px;
    background-color: rgba(102, 102, 102, 0.5);
    content: "";
    position: absolute;
    top: 5px; right: -4px;
}
footer .txt > span:last-of-type::after {
    display: none;
}
footer .adr {
    font-size: 0.75em;
    margin: 0 0 3px 0;
}
footer .copy {
    font-size: 0.75em;
}

/* 리모트컨트롤 */
.fullpage_scroll aside{
    position: fixed;
    top: 40%;
    right: 10px;
    z-index: 50;
}
.fullpage_scroll aside ul li a{
    width: 7px;
    height: 7px;
    margin: 0 0 30px 0;
    background: #ccc;
    border-radius: 50%;
    display: block;
}
.fullpage_scroll aside ul li.on a{
    background: #c00000;
}


/* ie10hack */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .headline {
        font-size: 64px;
    }
    .headline h1 {
        padding: 10px 20px;
    }
    .sec02 .tit,
    .sec03 .tit {
        margin: 0;
    }
}