@charset "UTF-8";

body { padding:0; min-width: unset; }
.inner { width: 100%; padding: 0 20px; }

/* 헤더 */
header {
    height: 80px;
}
header .logo {
    top:0; left:20px;
    width: 154px;
    height: 80px;
    background-size: 154px;
}
header .mbt,
header .close {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 10;
    top:0; right: 0px;
    background: url(../images/mbt.png) 50% 50% no-repeat;
}
header .close {
    background: url(../images/close.png) 50% 50% no-repeat;
}
header .topmenu { 
    display: none;
    position: fixed;
    z-index: 110;
    top:0; right:70px;
    width: 320px;
    height: 80px;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
header .topmenu a.txt {
    color: #fff;
}
header .topmenu a.txt:nth-of-type(2) {
    display: none;
}
header .topmenu a.txt::after {
    background: rgba(255,255,255,0.7);
}
header .topmenu input.search {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 3px;
}
input::placeholder {
    color: #fff;
}
header .topmenu span.search {
    background: url(../images/search_w.png) 50% 50% no-repeat;
    background-size: 25px;
}
header .topmenu.on { display: flex; }
header nav.on { display: block; }
section {
    position: relative;
}
section.on::after {
    content: "";
    position: absolute;
    z-index: 80;
    top:0; bottom:0; left:0; right:0;
    background: rgba(0,0,0,0.8);
}
/* 네비게이션 */
header nav {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0; bottom:0; right: 0;
    width: 400px;
    height: 100vh;
    background: #00acea;
    padding-top: 80px;
}
nav .gnball {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 50px 0 100px;
    overflow-y: auto;
    background: #fafafa;
}
nav .gnb {
    width: 85%;
    height: auto;
}
nav .gnb > a {
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
}
nav .gnb:hover > a {
    border-bottom: unset;
}
nav .gnb > a.on {
    background: #fa9d35;
}
/* 서브메뉴 */
nav .sub_gnb {
    display: none;
}
.m_sub.on {
    border: 1px solid rgba(204, 204, 204, 0.3);
}
.m_sub > li {
    padding: 8px 0 8px 20px;
    color: #333;
    background: #fff;
    position: relative;
}
.m_sub > li > a {
    color: #333;
    display: block;
}
.m_sub > li::before,
.m_sub > li::after {
    content: "";
    position: absolute;
    top:13px; right:9px;
    width: 1px;
    height: 9px;
    background: rgba(85, 85, 85, 0.5);
}
.m_sub > li::after {
    top:17px; right:5px;
    width: 9px;
    height: 1px;
}
.m_sub.notopen > li::before,
.m_sub.notopen > li::after {
    display: none;
}
.m_sub > li.on {
    font-weight: 600;
}
.m_sub_sub {
    display: none;
    background: #fff;
}
.m_sub_sub.on {
    display: block;
}
.m_sub_sub > li > a {
    padding: 5px 0 5px 25px;
    color: #555;
    font-size: 0.9em;
    display: block;
}

/* 리모트컨트롤 */
aside {
    bottom: 5px; right: 5px;
}

/* 컨텐츠랩 */
section.wrap {
    padding: 80px 0;
}

/* LNB */
.lnb {
    width: 20%;
    min-width: 200px;
}
/* 컨텐츠 */
.container {
    width: 80%;
}

/* 푸터 */
/* 마크 */
.footer_bottom .right > span {
    height: 41px;
    background-size: 90%;
}
.footer_bottom .right > span:first-of-type {
    width: 65px;
}
.footer_bottom .right > span:last-of-type {
    width: 99px;
    margin: 0;
}