@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Noto+Sans+KR|Paytone+One&display=swap');

* { box-sizing: border-box; }
body { margin:0; padding:0; min-width: 1024px; background-color: #fdfaed; font-family: 'Noto Sans KR', sans-serif; }

.inner { width: 1000px; margin: 0 auto; }
a { color: #fff; text-decoration: none;}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    z-index: 50;
    top:0; left:0;
}
.changecolor {
    background-color: rgba(17, 17, 17, 0.9);
    transition: all .2s ease-in-out;
}
header::after {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    top:100px;
}
header .inner {
    height: 100%;
}
header .topmenu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: rgba(244, 205, 84, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    position: relative;
}
header .topmenu .mlogo,
header .topmenu .mbt{ 
    display: none;
}
header .topmenu span {
    margin: 0 0 0 20px;
}
header .topmenu span:hover {
    text-decoration: underline;
    cursor: pointer;
}
header .topmenu .home {
    position: absolute;
    top: 0; left: 0;
    margin:0;
    width: 30px;
    height: 50px;
    line-height: 50px;
    background: url(../images/home.png) 50% 50% no-repeat;
    background-size: 20px;
}

/* NAV */
header nav {
    width: 900px;
    height: 50px;
    margin: 0 auto;
}
nav > .gnball {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav > .gnball > .gnb {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
}
nav > .gnball > .gnb > a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
nav > .gnball > .sub_gnb {
    width: 100%;
    background: rgba(33, 30, 31, 0.98);
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 0;
}
.sub_gnb > ul {
    width: 20%;
    margin: 0; padding: 0;
    list-style: none;
    text-align: center;
}
.sub_gnb > ul > li {
    width: 100%;
    height: 40px;
}
.sub_gnb > ul > li > a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 13.5px;
}
.gnb > a.on {
    color: #f4cd54;
}
.gnb:hover > a {
    color: #f4cd54;
}
.sub_gnb > ul > li:hover > a {
    color: rgba(33, 30, 31, 0.7);
    background-color: #f4cd54;
    font-weight: 600;
    cursor: pointer;
}
.gnball:hover > .gnb > a {
    font-weight: 600;
    cursor: pointer;
}
.gnball:hover > .sub_gnb {
    height: 200px;
    transition: all .5s ease-in-out;
}

/* VISUAL */
section.visual {
    width: 100%;
    height: 450px;
    background: url(../images/global_2.jpg) 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}
.visual::before {
    width: 100%;
    height: 100%;
    background: rgba(33, 30, 31, 0.7);
    content: "";
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    z-index: 0;
}
.visual .copy {
    width: 100%;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}
.visual .copy > div:first-child {
    color: #fff;
    font-size: 56px;
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 2px;
    margin: 10px 0 30px;
    text-shadow: 2px 2px 3px rgba(33, 30, 31, 0.7);
}
.visual .copy > div:last-child {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px 3px rgba(33, 30, 31, 0.7);
}

section.contents {
    width: 100%;
    margin: 0 0 100px 0;
    overflow: hidden;
    /* background-color: #fdfaed; */
}

.contents article {
    padding: 100px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
article .text {
    width: 100%;
    margin: 0 0 30px 0;
    position: relative;
    z-index: 10;
}
article .text .title {
    font-size: 28px;
    letter-spacing: -2px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 0 0 20px;
    position: relative;
}
article .text .title::before {
    width: 3px;
    height: 55px;
    background: #f4cd54;
    content: "";
    position: absolute;
    top:7px; left:0px;
}
article .text h5 {
    margin: 5px 20px 30px;
    font-weight: normal;
}
article .text p {
    letter-spacing: -1px;
    line-height: 170%;
}
article .group {
    width: 100%;
    position: relative;
    z-index: 10;
}
article .group .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
article .group h5 {
    text-align: center;
}

.art1 {
    position: relative;
}
.art1 .triangle {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #211e1f;
    margin: 0 0 100px 0;
}
.art1 .group .box .img {
    width: 300px;
    height: 420px;
}
.art1 .group .box .img:first-child {
    background: url(../images/french_1.jpg) 0% 100% no-repeat;
    background-size: cover;
}
.art1 .group .box .img:nth-child(2) {
    background: url(../images/french_2.jpg) 50% 0% no-repeat;
    background-size: cover;
}
.art1 .group .box .img:nth-child(3) {
    background: url(../images/french_3.jpg) 50% 0% no-repeat;
    background-size: cover;
}

.art2 {
    position: relative;
}
.art2::before {
    border-top: 300px solid transparent;
    border-left: 500px solid rgba(244, 205, 84, 0.4);
    border-bottom: 300px solid transparent;
    transform: rotate(100deg);
    content: "";
    position: absolute;
    z-index: 0;
    top: 0; right: -20%;
}
.art2::after {
    border-top: 200px solid transparent;
    border-left: 400px solid rgba(244, 205, 84, 0.4);
    border-bottom: 200px solid transparent;
    transform: rotate(120deg);
    content: "";
    position: absolute;
    z-index: 0;
    top: 30px; right: -20%;
}
.art2 .group .box .img {
    width: 300px;
    height: 280px;
}
.art2 .group .box .img:first-child {
    background: url(../images/drama_1.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.art2 .group .box .img:nth-child(2) {
    background: url(../images/drama_2.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.art2 .group .box .img:nth-child(3) {
    background: url(../images/drama_3.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.art3 {
    position: relative;
}
.art3::before {
    border-top: 300px solid transparent;
    border-left: 500px solid rgba(244, 205, 84, 0.4);
    border-bottom: 300px solid transparent;
    transform: rotate(130deg);
    content: "";
    position: absolute;
    z-index: 0;
    top: 150px; left: -30%;
}
.art3 .group .box .img {
    width: 49%;
    height: 300px;
}
.art3 .group .box .img:first-child {
    background: url(../images/screen_1.jpg) 45% 30% no-repeat;
    background-size: cover;
}
.art3 .group .box .img:last-child {
    background: url(../images/lecture_1.jpg) 45% 30% no-repeat;
    background-size: cover;
}

/* FOOTER */
footer {
    background: #211e1f;
    position: relative;
    z-index: 20;
}
footer .inner {
    height: fit-content;
    background: url(../images/logo.png) 10px 50% no-repeat;
    padding: 30px 10px;
}
footer .inner > div {
    width: 100%;
    text-align: right;
    color: #9b9b9b;
    font-size: 13px;
    margin: 0 0 20px 0;
}
footer .sns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer .sns > div {
    width: 18px;
    height: 18px;
    margin: 0 0 0 18px;
    background: url(../images/facebook.png) 50% 50% no-repeat;
    background-size: 100%;
    cursor: pointer;
}
footer .sns > div:nth-child(2) {
    background: url(../images/instagram.png) 50% 50% no-repeat;
    background-size: 100%;
}
footer .sns > div:nth-child(3) {
    background: url(../images/youtube.png) 50% 50% no-repeat;
    background-size: 100%;
}
footer .sns > div:last-child {
    background: url(../images/twitter.png) 50% 50% no-repeat;
    background-size: 100%;
}
footer div:last-child > span {
    padding: 0 10px;
    position: relative;
    cursor: pointer;
}
footer div:last-child > span:last-of-type {
    padding-right:0;
}
footer div:last-child > span::before {
    width: 1px;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    content: "";
    position: absolute;
    top: 4px; right: -2px;
}
footer div:last-child > span:last-of-type::before {
    display: none;
}


/* ie10hack */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    header .topmenu {
        font-size: 12px;
    }
    nav > .gnball > .sub_gnb {
        left: 0;
    }
}

@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */
}