/* 삼각형 로테이트 */
@-webkit-keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg)
  }
}
@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg)
  }
}
.rotate {
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}


/* 팡타개라지 버튼호버 */
@-webkit-keyframes movetriangle {
  from {
      top: -3px;
  }
  to {
      top: 3px;
  }
}
@keyframes movetriangle {
  from {
      top: -3px;
  }
  to {
      top: 3px;
  }
}
button:hover .move {
    position: relative;
    -webkit-animation-name: movetriangle;
    animation-name: movetriangle;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes movearrowbt {
  from {
      bottom: 5px;
  }
  to {
      bottom: 12px;
  }
}
@keyframes movearrowbt {
  from {
      bottom: 5px;
  }
  to {
      bottom: 12px;
  }
}
.arrowbt.move {
    -webkit-animation-name: movearrowbt;
    animation-name: movearrowbt;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* 비쥬얼 카피 페이드인 */
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
.visual > .title > .fadein:first-of-type {
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
.visual > .title > .fadein:nth-of-type(2) {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.visual > .copy.fadein {
    -webkit-animation: fadein 1.7s;
    animation: fadein 1.7s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}


/* 팡타개라지 캘린더  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}