@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Noto+Sans+KR:wght@100;300;500&family=Tenali+Ramakrishna&family=Montserrat&family=Paytone+One&display=swap');

body {
    background-image: url(../images/back_1.jpg);
    background-position: 45% 50%;
}

header .menu > a:hover,
header .menu > a:first-of-type {
    border-bottom: 2px solid #f4cd54;
}

.contents {
    color: #fff;
}

.art1 .group {
    margin: 190px 0 0 0;
}
.art1 .text .logo {
    width: 80px;
    height: 30px;
    background: url(../images/logo.png) 50% 50% no-repeat;
    background-size: 80px;
}
.art1 .text h1 {
    font-weight: 500;
}
.art1 .text p {
    margin: 25px 0;
}
.art1 .text p > span::after {
    background: rgba(255, 255, 255, 0.3);
}

.bt {
    font-weight: 100;
    color: #fff;
    margin: 0 0 5px 0;
}

.art2 .box .circle {
    background: #f4cd54;
}
.art2 .box:nth-of-type(2) .circle { background: #705c4a; }
.art2 .box:nth-of-type(3) .circle { background: #fdfaed; }
.art2 .box:nth-of-type(4) .circle { background: #211e1f; }
.art2 .box:nth-of-type(2) h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 4px 0 3px;
}
.art2 .box:nth-of-type(3) h2 {
    font-family: 'Paytone One', sans-serif;
    margin: 0 0 2px;
}

.art3 .txt .box.line::before {
    background: rgba(255,255,255,0.3);
}
.art3 .txt .box::after{
    background: rgba(255,255,255,0.5);
}
.art3 .txt .box:nth-of-type(2) { margin: 30px 0 0 0; }
.art3 .txt .box:nth-of-type(3) { margin: 40px 0 0 0; }
.art3 .txt .box:nth-of-type(4) { margin: 120px 0 0 0; }
.art3 .txt .box:nth-of-type(5) { margin: 200px 0 0 0; }
.art3 .txt .box:nth-of-type(6) { margin: 60px 0 0 0; }


.art4 h1::after {
    background: linear-gradient(to right, #211e1f, rgba(244, 205, 84, 1));
}

.art5 {
    position: relative;
}
.art5 .txt {
    font-weight: 300;
    color: #fff;
}
.art5 .group .box:first-of-type img {
    width: auto;
    height: 311px;
    margin: 0 0 0 20px;
}
.art5 .group .box:last-of-type img {
    width: auto;
    height: 295px;
    margin: 0 0 0 24px;
}

footer h5 {
    color: rgba(255,255,255,0.4);
}
footer h5 > a {
    color: rgba(255,255,255,0.9);
}