@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Noto+Sans+KR:wght@100;300;500&family=Tenali+Ramakrishna&family=Nunito+Sans&family=Russo+One&display=swap');

body {
    background-image: url(../images/back_2.jpg);
    background-position: 45% 50%;
    font-weight: 300;
}
.back {
    background: rgba(230, 232, 235, 0.89);
}
.scroll {
    color: rgba(0,0,0,1);
}
.scroll span {
    bottom: 45px;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
.top {
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.3);
    transition: all 0.5s ease;
}
.top:hover {
    color: rgba(0,0,0,1);
    border: 1px solid rgba(0,0,0,0.6);
}

header {
    color: #333;
}
header .menu > a:hover,
header .menu > a:nth-of-type(2) {
    border-bottom: 2px solid #013b90;
}

.contents {
    color: #333;
}

.art1 .group {
    margin: 200px 0 0 0;
}
.art1 .text .logo {
    width: 200px;
    height: 40px;
    background: url(../images/ob_logo.png) 50% 50% no-repeat;
    background-size: 200px;
}
.art1 .text h1 {
    margin: 8px 0 0 0;
}
.art1 .text p {
    margin: 20px 0;
    font-weight: 500;
}
.art1 .text p > span::after {
    background: rgba(0, 0, 0, 0.3);
}

.bt {
    color: #000;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 0 5px 5px 0;
}

.art2 .box .circle {
    background: #f39c1f;
}
.art2 .box:nth-of-type(2) .circle { background: #da5926; }
.art2 .box:nth-of-type(3) .circle { background: #c00000; }
.art2 .box:nth-of-type(4) .circle { background: #45120f; }
.art2 .box:nth-of-type(5) .circle { background: #013b90; }
.art2 .box h6 {
    font-weight: 300;
}
.art2 .box:nth-of-type(2) h2 {
    font-family: 'Nunito Sans', sans-serif;
    margin: 2px 0 0;
}
.art2 .box:nth-of-type(3) h2 {
    font-family: 'Russo One', sans-serif;
    font-weight: 700;
    margin: 3px 0 3px;
}


.art3 .txt .box.line::before {
    background: #45120f;
}
.art3 .txt .box::after{
    background: #45120f;
}
.art3 .txt .box h6 {
    font-weight: 300;
}
.art3 .txt .box:nth-of-type(2) { margin: 30px 0 0 0; }
.art3 .txt .box:nth-of-type(3) { margin: 30px 0 0 0; }
.art3 .txt .box:nth-of-type(4) { margin: 160px 0 0 0; }
.art3 .txt .box:nth-of-type(5) { margin: 100px 0 0 0; }
.art3 .txt .box:nth-of-type(6) { margin: 120px 0 0 0; }
.art3 .txt .box:nth-of-type(7) { margin: 120px 0 0 0; }

.art4 h1::after {
    background: linear-gradient(to right, #f39c1f, #da5926, #c00000, #45120f)
}
.art4 h4 {
    font-weight: 300;
}
.art4 .group {
    width: 95%;
}
.art4 .group:last-of-type {
    margin: 0 0 0 50px;
}
.art4 .group img {
    width: 364px;
    height: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.art5 .txt {
    left: 70px;
    font-weight: 500;
    color: #333;
}
.art5 .group .box:first-of-type img {
    width: auto;
    height: 264px;
    margin: 0 0 0 28px;
}
.art5 .group .box:last-of-type img {
    width: auto;
    height: 285px;
    margin: 0 0 0 22px;
}

footer h5 {
    font-weight: 300;
    color: rgba(32, 32, 32, 0.8);
}
footer h5 > a {
    color: #202020;
}